repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: https://github.com/mcsken/flutter-analyze-pre-commit
    rev: v0.1
    hooks:
    - id: flutter-analyze
      args: [lib/*]
    - id: dart-format
      args: [lib/*]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: trailing-whitespace