<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31090418784-f24rvngfd427jjajtof4nkuigs920vp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31090418784-f24rvngfd427jjajtof4nkuigs920vp1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31090418784-mlpa9in81cp77nv56k0uvss3dpklrc5n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdnmIVZz07noBMsrnGHpLkzk3BcEix6Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>31090418784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jenslemke.techKnowlEdgeConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tech-knowl-edge-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-knowl-edge-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31090418784:ios:ebdf030b7edd1a0777cf05</string>
</dict>
</plist>